.settings-nav {
  .settings-nav-item {
    display: flex;
    align-items: center;

    .settings-nav-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      margin-right: 1.5rem;

      i {
        font-size: 1.5rem;
      }
    }

    .settings-nav-label {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .settings-nav-title {
      font-size: 1.1rem;
      font-weight: 600;
      margin-bottom: 0.3rem;
    }

    .settings-nav-desc {
      font-size: 12px;
    }

    &.active {
      background-color: #F3F6F9 !important;
      transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease !important;
      //padding: 0.75rem 1.5rem;
      position: relative !important;;
      border-radius: 0.5rem !important;;
      cursor: pointer !important;;
      //background-color: $twfirm;
      //color: white;

      &:after {
        left: 100%;
        top: 50%;
        transform: translateY(-50%);
        content: " ";
        height: 0;
        width: 0;
        border: solid transparent;
        position: absolute;
        border-left-color: #F3F6F9;
        border-width: 1rem;
      }

      .settings-nav-icon {
        i {
          color: $twfirm;
        }
      }

      //.settings-nav-label {
      //  .settings-nav-title {
      //    //color: white;
      //  }
      //}
    }
  }
}

// custom css for the React Select so that it looks like other input fields
.css-13cymwt-control:hover, .css-t3ipsp-control:hover {
  border-color: var(--bs-gray-300) !important;
  box-shadow: none !important;
}

.css-13cymwt-control, .css-t3ipsp-control {
  border-color: var(--bs-gray-300) !important;
  box-shadow: none !important;
  font-weight: 500;
}

.css-13cymwt-control, .css-t3ipsp-control {
  padding-top: 2px !important;
  padding-bottom: 3px !important;
}

.css-1jqq78o-placeholder {
  color: var(--bs-gray-500) !important;
  //font-size: 1.075rem;
  font-size: 13px;
}

// custom css for the react tags input
.rti--container {
  border-color: var(--bs-gray-300) !important;
  box-shadow: none !important;

  .rti--input {
    width: 100%;
    color: var(--bs-gray-700) !important;
    font-size: 1.075rem;
    padding-top: 3px !important;
    padding-bottom: 4px !important;

    &::placeholder {
      color: var(--bs-gray-500) !important;
      font-size: 1.075rem;
    }
  }

  .rti--tag {
    max-width: 100%;

    .span {
      word-wrap: break-word;
    }
  }
}

.twfirm-nav-success-light {
  .nav-link {
    color: $success !important;

    i {
      color: $success !important;
    }
  }

  .nav-link.active {
    background-color: $success-light;
  }
}

.twfirm-local-table {
  .page-link.active, .active > .page-link {
    background-color: $twfirm !important;
    color: #ffffff !important;
  }

  .page-link:focus:not(.active) {
    color: $twfirm;
  }
}

.nav.nav-tabs.nav-tabs-line.active-info .nav-link:hover:not(.disabled), .nav.nav-tabs.nav-tabs-line.active-info .nav-link.active, .nav.nav-tabs.nav-tabs-line.active-info .show > .nav-link {
  border-bottom: 1px solid $info !important;
  color: $info;
}

.nav-line-tabs.active-info .nav-item .nav-link.active, .nav-line-tabs.active-info .nav-item.show .nav-link, .nav-line-tabs.active-info .nav-item .nav-link:hover:not(.disabled) {
  border-bottom: 1px solid $info !important;
  color: $info;
}
